.product{
    
    width: 20rem;
    height: auto;
    overflow:auto;
    border:2px slateblue solid;
    box-sizing:border-box;
    background-color:aliceblue;
    margin:1rem;
    display: inline-block;
    
    min-height:15rem;
    max-height: 19rem;
    
}
.imgDivStyle{
    position:relative;
    width:19rem;
    height:9rem;
    overflow:hidden;
    margin: 0.5rem auto;
    box-sizing:border-box
}
.name{
    margin: 1rem 0.5rem;
    box-sizing:border-box;
    line-height: 1.2rem;
    font-size:1.2rem;
    text-align:center
}
.button{
    text-align:center;
    background-color:lightgreen;
    margin:0.5rem;
    
}
img{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    height:9rem;
}